# <font color = red>List

In [1]:
a = "pramod"
b = 1
c =2.7

In [2]:
a = "pramod","Trishaan","kumar"

In [3]:
a=[]  # Empty list

In [4]:
a

[]

In [5]:
type(a)

list

In [6]:
a = ["pramod","Trishaan","kumar"]

In [7]:
a

['pramod', 'Trishaan', 'kumar']

In [8]:
list1 =["pramod","Trishaan","kumar","pramod"]

In [9]:
list1

['pramod', 'Trishaan', 'kumar', 'pramod']

# List Cinfiguration

1. lists are defined using [] brackets
2. lists are ordered
3. lists are mutable(change the elements), you can add, remove and reorderd list columns.
4. lists can allow duplicates

In [10]:
a = list()

In [11]:
type(a)

list

In [12]:
a

[]

In [13]:
# list of all integer values
list2 = [10,20,30,40,50,80]
print(list2)
print(type(list2))

[10, 20, 30, 40, 50, 80]
<class 'list'>

In [14]:
#list of all float values
list3 = [4.5,6.2,6.3,1.2,2.9,9.1,10.2]
print(list3)
print(type(list3))

[4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]
<class 'list'>

In [15]:
# list of all boolean values
list4 = [True,False,False,False,True]
print(list4)
print(type(list4))

[True, False, False, False, True]
<class 'list'>

In [16]:
# list of all mixed data
list5= ["pramod",45,5.6,0,56.89,True,]
print(list5)
print(type(list5))

['pramod', 45, 5.6, 0, 56.89, True]
<class 'list'>

In [17]:
# indexing -> [start_index:stop_index:step]
list5[0]

'pramod'

In [18]:
list5[2]

5.6

In [19]:
list5

['pramod', 45, 5.6, 0, 56.89, True]

In [20]:
# lets extract first three elements
list5[0:3]

['pramod', 45, 5.6]

In [21]:
# Reversed list
list5[::-1]

[True, 56.89, 0, 5.6, 45, 'pramod']

In [22]:
list5

['pramod', 45, 5.6, 0, 56.89, True]

In [23]:
list5[-1:-4:-1]

[True, 56.89, 0]

# List Function

**len()** = Return the number of elements in the list

**max()** = return the maximum value from the list

**min()** = Return the minimum value from the list

**sum()** = Retun the sum of all elements

In [24]:
# let us count number of elements in the list
list5

['pramod', 45, 5.6, 0, 56.89, True]

In [25]:
len(list5)

6

In [26]:
list2

[10, 20, 30, 40, 50, 80]

In [27]:
max(list2)

80

In [28]:
min(list2)

10

In [29]:
sum(list2)

230

# List operator

**(+) operator =** The concatenation operator is used to join two list

**("*") operator =** The multiplication operator is used to replicate the elements os a list

**(in) =** The in operator is used to determine whether an elements is in a list, it return true if elements is present list else it return false

**(is) =** Check if two variable refer to the same object

**(del) =** The del operator stands for delet. The del operator is used to remove elements from a list. to delet the elements of a list, the elements of the list are accessed using their index position and the del operator is placed before them

In [30]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [1,2,3]

In [31]:
l1 + l2 + l3

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [32]:
print(l1*2)
print(l2*3)

[1, 2, 3, 1, 2, 3]
[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [33]:
s1 = "python"
s2 = "python"

In [34]:
s1 is s2

True

In [35]:
A = ["A","B","C"]
B = ["A","B","C"]

In [36]:
A is B

False

It is impoertant to note that in the above example, we can say that the two list are equivalent because they have the same elements. we cannot say that both the list are identical because they dont refer to the same object.

In [37]:
lst =[10,20,30,40,50,60,70,80,90]
del lst[2]
lst

[10, 20, 40, 50, 60, 70, 80, 90]

In [38]:
lst =[10,20,30,40,50,60,70,80,90]
del lst[6]
lst

[10, 20, 30, 40, 50, 60, 80, 90]

In [39]:
lst =[10,20,30,40,50,60,70,80,90]
del lst[2:6]
lst

[10, 20, 70, 80, 90]

In [40]:
lst =[10,20,30,40,50,60,70,80,90]
del lst[:]
lst
# Remove all elements

[]

In [41]:
lst =[10,20,30,40,50,60,70,80,90]
del lst

# delet the list

In [42]:
name = "Pramod"

In [43]:
name[-1]

'd'

In [44]:
name[:-1]

'Pramo'

In [45]:
name[5]

'd'

# List keywords

append() = 

insert() =

extend() =

**remove() =** It will take the element you want to remove

**pop() =** It will take the index number and remove the ele at that index and it will return the element at that index


**<font color= red>Note points:-** 
    
1. append VS extend
2. append Vs insert
3. Remove VS pop

In [46]:
print(f"list2 = {list2}")
print(f"list3 = {list3}")

list2 = [10, 20, 30, 40, 50, 80]
list3 = [4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [47]:
list2.append(list3)

In [48]:
list2

[10, 20, 30, 40, 50, 80, [4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]]

In [49]:
list2[1]

20

In [50]:
list2[5]

80

In [51]:
list2[6]

[4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [52]:
list2[6][2]

6.3

In [53]:
lit2 = [10, 20, 30, 40, 50, 80]

In [54]:
list3

[4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [55]:
lit2.extend(list3)

In [56]:
lit2

[10, 20, 30, 40, 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [57]:
lit2.insert(3,"pramod")

In [58]:
lit2

[10, 20, 30, 'pramod', 40, 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [59]:
lit2.insert(5,"Naina")

In [60]:
lit2

[10, 20, 30, 'pramod', 40, 'Naina', 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [61]:
lit2.append("LAST")

In [62]:
lit2

[10,
 20,
 30,
 'pramod',
 40,
 'Naina',
 50,
 80,
 4.5,
 6.2,
 6.3,
 1.2,
 2.9,
 9.1,
 10.2,
 'LAST']

In [63]:
lit2.pop() # by defalt delet last element

'LAST'

In [64]:
lit2

[10, 20, 30, 'pramod', 40, 'Naina', 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [65]:
lit2.pop(-1)

10.2

In [66]:
lit2

[10, 20, 30, 'pramod', 40, 'Naina', 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1]

In [67]:
lit2.remove("pramod")

In [68]:
lit2

[10, 20, 30, 40, 'Naina', 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1]

In [69]:
lit2.remove("Naina")

In [70]:
lit2

[10, 20, 30, 40, 50, 80, 4.5, 6.2, 6.3, 1.2, 2.9, 9.1]

In [71]:
lit2[8]

6.3

In [72]:
lit2[4:8]

[50, 80, 4.5, 6.2]

In [73]:
# clear -> It will clear all the elements and list will be empty
lit2.clear()

In [74]:
lit2

[]

In [75]:
list1

['pramod', 'Trishaan', 'kumar', 'pramod']

In [76]:
# count how many times elements present
list1.count("pramod")

2

In [77]:
list1.index("Trishaan")

1

In [78]:
list1.count("sigh") # element is not there

0

In [79]:
list3

[4.5, 6.2, 6.3, 1.2, 2.9, 9.1, 10.2]

In [80]:
# Sorting the list # Sort Function will return None values
list3.sort()  # By defalt ascending order

In [81]:
list3

[1.2, 2.9, 4.5, 6.2, 6.3, 9.1, 10.2]

In [82]:
list3.sort(reverse = True)

In [83]:
list3

[10.2, 9.1, 6.3, 6.2, 4.5, 2.9, 1.2]

In [84]:
# sorted
sorted(list3)

[1.2, 2.9, 4.5, 6.2, 6.3, 9.1, 10.2]

In [85]:
list3

[10.2, 9.1, 6.3, 6.2, 4.5, 2.9, 1.2]

1. sorted -> is returning me the sorted values and it will not update the list


2. sort -> it will sort the values and update the list and return Non values

# <font color = red> Tuples   
    
1. Tuples are Immutable(once define you cannot change the values)
    
2. Tuples are also ordered
    
3. Tuples can allow duplicates
    
4. Tuples are defined in small brackets ()
  
5. Tupels are faster than list

**Uses of Tuple**

1. Tuples are used to store multiple items in a single variable

2. A Tuple is a collection which is orderd and unchangeble

In [86]:
tuple1 = ()  # empty tuple
print(tuple1,type(tuple1))

() <class 'tuple'>

In [87]:
tuple1 = tuple()  # empty tuple
print(tuple1,type(tuple1))

() <class 'tuple'>

In [88]:
tuple2=(10,20,30,40)
print(tuple2)
print(type(tuple2))

(10, 20, 30, 40)
<class 'tuple'>

In [89]:
tuple3 = (10.1,20.2,30.0,40.1)
print(tuple3)
print(type(tuple3))

(10.1, 20.2, 30.0, 40.1)
<class 'tuple'>

In [90]:
tuple4 = ('Parmeet','Singh','Dang')
print(tuple4)
print(type(tuple4))

('Parmeet', 'Singh', 'Dang')
<class 'tuple'>

In [91]:
tuple5 = (True, False, True, False)
print(tuple5)
print(type(tuple5))

(True, False, True, False)
<class 'tuple'>

In [92]:
tuple6 = (True, 1,5.6,'Parmeet')
print(tuple6)
print(type(tuple6))

(True, 1, 5.6, 'Parmeet')
<class 'tuple'>

In [93]:
tuple6

(True, 1, 5.6, 'Parmeet')

In [94]:
# converting tuple to the list
list1= list(tuple6)

In [95]:
list1

[True, 1, 5.6, 'Parmeet']

In [96]:
list1[3] = "pramod"

In [97]:
list1

[True, 1, 5.6, 'pramod']

In [98]:
# converting list into tuple
tuple6 = tuple(list1)

In [99]:
tuple6

(True, 1, 5.6, 'pramod')

In [100]:
list1 = list(tuple6)

In [101]:
list1.append("parmeet")

In [102]:
list1

[True, 1, 5.6, 'pramod', 'parmeet']

In [103]:
tuple6 = tuple(list1)

In [104]:
tuple6

(True, 1, 5.6, 'pramod', 'parmeet')

In [105]:
len(tuple6)

5

In [106]:
tuple6.count("pramod")

1

In [107]:
tuple6.count("Mango")

0

In [108]:
tuple7 = ("mango")
print(tuple7)
print(type(tuple7))

mango
<class 'str'>

## Unpacking concept

In [109]:
tuple1 =("Mango","Banana","Cherry")

In [110]:
a,b,c =tuple1

In [111]:
print(a,b,c)

Mango Banana Cherry

In [112]:
# a,b = tuple1

# Errors :- too many values to unpack

In [113]:
a, *b = tuple1

In [114]:
print(a)
print(b)

Mango
['Banana', 'Cherry']

In [115]:
tuple1

('Mango', 'Banana', 'Cherry')

In [116]:
*a,b = tuple1

In [117]:
print(a)
print(b)

['Mango', 'Banana']
Cherry

# <font color = red> Sets

1. sets are immutable -> cannot change the element

2. sets are unordered

3. sets doesnot allow duplicates

In [118]:
a = {1,2,3}
type(a)

set

In [119]:
a = {}
type(a)

dict

In [120]:
a = set()  # Empty set
type(a)

set

In [121]:
a = {1,2,3,4,5,6,7}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [122]:
a.pop() # remove

1

In [123]:
a ={1,1,1,2,2,2,4,4,5,6,7,8,3}
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [124]:
set1 = {1,2,3,4,5}
set2 = {2,5,7}
set3 = {8}

In [125]:
set1

{1, 2, 3, 4, 5}

In [126]:
set1.add(9)

In [127]:
set1

{1, 2, 3, 4, 5, 9}

In [128]:
set1.add(3)

In [129]:
set1

{1, 2, 3, 4, 5, 9}

In [130]:
print(set1)
print(set2)

{1, 2, 3, 4, 5, 9}
{2, 5, 7}

In [131]:
set1.union(set2)

{1, 2, 3, 4, 5, 7, 9}

In [132]:
set1.update(set2) # updating set1 with set2 elements

In [133]:
set1

{1, 2, 3, 4, 5, 7, 9}

In [134]:
set2 = {54,56,57,2,5}

In [135]:
print(f"set1: {set1}")
print(f"set2: {set2}")

set1: {1, 2, 3, 4, 5, 7, 9}
set2: {2, 5, 54, 56, 57}

In [136]:
set1.difference(set2) # remove all the common elements from set1

{1, 3, 4, 7, 9}

In [137]:
set2.difference(set1) # remove all the common elements from set2

{54, 56, 57}

In [138]:
set1 = {1,2,3,4,5}
set2 = {2,5}

In [139]:
set2.issubset(set1)

True

In [140]:
set1.issuperset(set2)

True

In [141]:
set1 = {1, 2, 3, 4, 5, 7, 9}
set2 = {2, 5, 54, 56, 57}

In [142]:
set1.intersection(set2)

{2, 5}

In [143]:
set2.intersection(set1)

{2, 5}

In [144]:
set1 = {1,2,3,4}
set2 = {7,5,2}

In [145]:
set1.isdisjoint(set2)

False

In [146]:
set1

{1, 2, 3, 4}

In [147]:
set1.remove(3)

In [148]:
set1

{1, 2, 4}

In [149]:
set1 = {1,2,3,4,5,6,7,8,9}

In [150]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

<!-- conditional statements -->

# conditional statements

#### Loops

In [151]:
for ele in range(1,10):
    print(ele, end=" ")

1 2 3 4 5 6 7 8 9

In [152]:
list1 =["pramod","singh","rathod"]

In [153]:
len(list1)

3

In [154]:
for ele in range(len(list1)):
    print(ele)

0
1
2

In [155]:
for ele in list1:
    print(ele)

pramod
singh
rathod

In [156]:
for ele in "pramodrathod":
    print(ele)

p
r
a
m
o
d
r
a
t
h
o
d

In [157]:
# Enumarate = return the tuple of 2 elements(1st=index, 2nd=ele)
for idx,ele in enumerate("pramodrathod"):
    print(idx,ele)

0 p
1 r
2 a
3 m
4 o
5 d
6 r
7 a
8 t
9 h
10 o
11 d

In [158]:
for idx,ele in enumerate(list1):
    print(idx,ele)

0 pramod
1 singh
2 rathod

In [159]:
tuple1

('Mango', 'Banana', 'Cherry')

In [160]:
for idx,ele in enumerate(tuple1):
    print(idx,ele)

0 Mango
1 Banana
2 Cherry

In [161]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [162]:
for idx, ele in enumerate(set1):
    print(idx, ele)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [163]:
# print only odd elements
for ele in set1:
    if ele %2 !=0:
        print(ele)

1
3
5
7
9

In [164]:
# print even elements
for ele in set1:
    if ele %2 ==0:
        print(ele)

2
4
6
8

In [165]:
for ele in set1:
    print(ele*ele, end=" ")

1 4 9 16 25 36 49 64 81