# <font color = red >  Q1. Python Enumarate Example

In [1]:
"""enumatare() function adds a counter to an iterable objects(counter for column).
it can accept sequential indexing starting from zero"""

names = ('sachine', 'hodda','pramod','divya','deva','kumar')
for i, name in enumerate(names):
    print(i, name)

0 sachine
1 hodda
2 pramod
3 divya
4 deva
5 kumar

# <font color = red >  Q2. Python lambda Example

**What is lambada function?**

A lambada function is a small **anonymous (a function that is defined without name)** function

A lambada function can take any number of arguments, but can only have one expression

In [2]:
x = lambda a: a+10 
print(x(15))

25

# <font color = green> Q2.  write a program to reverse the number in python

In [3]:
# num = int(input("Enter your number: "))

num = 456789
rev = 0
while (num > 0):
    dig = num%10
    rev = rev*10 + dig
    num = num // 10
print("the reverse of the number is: ",rev)

the reverse of the number is:  987654

# #  Q3. Write a python program to calculate the average of givan number

In [4]:
def Average(l): 
    avg = sum(l) / len(l) 
    return avg
  
my_list = [2,4,6,8,10] 
average = Average(my_list) 
  
print("Average of my_list is", average)

Average of my_list is 6.0

In [5]:
def Average(my_list): 
    avg = sum(my_list) / len(my_list) 
    return avg
  
my_list = [2,4,6,8,10] 
average = Average(my_list)

print("Average of my_list is", average)

Average of my_list is 6.0

# <font color = brown> Q4. Write a python program to find sum of the digits of a number

In [6]:
# n = int(input("Enter a Number: "))

n = 456789
tot = 0
while (n>0):
    dig = n%10                                 # it gives you reminder of number
    tot = tot + dig
    n = n // 10                                # how many times number divide completly
print("The total sum of digits is:", tot)

The total sum of digits is: 39

# <font color = brown> Q5. In your choice of language, write a program that prints the numbers ranging from one to 30.

#### <font color = red> But for multiples of three, print "Fizz" instead of the number, and for the multiples of five, print "Buzz." For numbers which are multiples of both three and five, print "FizzBuzz"

In [7]:
for number in range(31):
    if number % 3 == 0 and number % 5 ==0:
        print("fizzbuzz")
        continue
    elif number % 3 ==0:
        print("fizz")
        continue
    elif number % 5 == 0:
        print("buzz")
        continue
    print(number)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

# Q6. For the given points, how will you calculate the Euclidean distance in Python?

In [8]:
# plot1 = [1,3]

# plot2 = [2,5]

# sqrt((plot1[0]-plot2[0])**2 + (plot1[1]-plot2[1])**2)

# Q7. what will be the output of following program

In [9]:
dictionary = {}
dictionary [1] = 1
dictionary

{1: 1}

In [10]:
dictionary = {}
dictionary [1] = 1
dictionary['1'] = 2

dictionary

{1: 1, '1': 2}

In [11]:
dictionary = {}
dictionary [1] = 1
dictionary['1'] =2
dictionary[1] += 1

dictionary

{1: 2, '1': 2}

In [12]:
# main program
dictionary = {}
dictionary [1] = 1
dictionary['1'] =2
dictionary[1] += 1

sum = 0
for k in dictionary:
    sum += dictionary[k]
    
    print(sum)

2
4

In [13]:
a = 1
a += 1
a

2

# Q8. what will be the output of following program: set 1

In [14]:
counter = {}
def addToCounter(country):
    if country in counter:
        counter[country] += 1
    else:
        counter[country] = 1
addToCounter('china')
addToCounter('japan')
addToCounter('china')
print (len(counter))

2

In [15]:
counter = {}
def addToCounter(country):
    if country in counter:
        counter[country] += 1
    else:
        counter[country] = 1
addToCounter('china')
addToCounter('japan')
addToCounter('china')
addToCounter('india')
print (len(counter))

3

# Q9. what will be the output of following program : set 2

In [16]:
class Acc:
    def __init__(self, id):
        self.id = id
        id = 555
acc = Acc(111)
print(acc.id)

111

In [17]:
for i in range(2):
    print(i)

for i in range (4,6):
    print(i)

0
1
4
5

In [18]:
values = [1,2,3,4]
numbers = set(values)

def checknums (num):
    if num in numbers:
        return True
    else:
        return False
    
for i in  filter(checknums, values):
    print(i)

1
2
3
4

In [19]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x)
x = s(x)
x = r(x)
print(x)

24

In [20]:
a = 4.5
b = 2
print(a // b)

2.0

In [21]:
a = 4.5
b = 2
print(a / b)

2.25

In [22]:
a = 4.5
b = 2
print(a % b)

0.5

In [23]:
a = True
b = False
c = False

if a or b and c:
    print("pramod")
else:
    print("rathod")
    
    
    
# Explanation:

# In python, AND operator has higher precedance then or oprator. 
# so, it is evaluated first. i.e.(b and c) evaluats to false. now OR operator is evaluated.
# here (True or False) evaluates to True and pramod is printed as output

pramod

In [24]:
a = True
b = False
c = False

if not a or b:
    print(1)
elif not a or not b and c:
    print(2)
elif not a or b or not b and a:
    print(3)
else:
    print(4)

3

In [25]:
count = 1

def doThis():
    global count
    
    for i in (1, 2, 3):
        count += 1
doThis()
print(count)

4

# Q9. what will be the output of following program : set 3

In [26]:
class Geeks:
    def __init__(self, id):
        self.id = id

manager = Geeks(100)
manager.__dict__['life'] = 49

print(manager.life + len(manager.__dict__))

#  length of dictionary = 2  and 49 add them

51

In [27]:
class Geeks:
    def __init__(self, id):
        self.id = id

manager = Geeks(100)
manager.__dict__['life'] = 123


print(len(manager.__dict__))
print(manager.life + len(manager.__dict__))

#  length of dictionary = 2  and 123 add them

2
125

In [28]:
# a = 'geeksForGeeks'
# b = 13

# print(a + b)

# It shows an Error : can only concatenate str (not "int") to str

In [29]:
dictionary = {1:"1", 2:"2", 3:"3"}
del dictionary[1]
dictionary[1] = "10"
del dictionary[2]
print(len(dictionary))

print(dictionary)
# print(dictionary[1])
# print(dictionary[3])

2
{3: '3', 1: '10'}

#  Q9. what will be the output of following program : set 4

In [30]:
namelist = ['Harsh','Pratik','Bob','Dhruv']

print(namelist[1][-1])

k

In [31]:
namelist = ['Harsh','Pratik','Bob','Dhruv']

# pos = namelist.index("GeeksForGeeks")   # it thows an error: 'GeeksForGeeks' is not in list
pos3 = namelist.index("Dhruv")
pos2 = namelist.index("Bob")

print("pos3: ",pos3)

print("pos3: ",pos3 * 5)
print("pos2: ",pos2 * 5)

pos3:  3
pos3:  15
pos2:  10

In [32]:
geeksCodes = [1, 2, 3, 4]

geeksCodes.append([5, 6, 7, 8])
# list will look like as [1, 2, 3, 4,[5, 6, 7, 8]]

print(len(geeksCodes))
print(geeksCodes)

5
[1, 2, 3, 4, [5, 6, 7, 8]]

In [33]:
def addToList(listcontainer):
    listcontainer += [10]
    
mylistContainer = [10, 20, 30, 40]
addToList(mylistContainer)

print(len(mylistContainer))

5

#  Q9. what will be the output of following program : set 5

In [34]:
def gfgFunction():
    "geeksforgeeks is cool website for boosting up technical skills"
    return 1

print(gfgFunction.__doc__[17:21])

# docstring functon

cool

In [35]:
class A(object):
    val = 1
    
class B(A):
    pass

class C(A):
    pass

print(A.val, B.val, C.val)
B.val = 2

print(A.val, B.val, C.val)
A.val = 3

print(A.val, B.val, C.val)

1 1 1
1 2 1
3 2 3

In [36]:
check1 = ['Learn', 'Quiz', 'Practice', 'contribute']
check2 = check1
check3 = check1[:]


check2 [0] = 'Code'
check3[1] = 'Mcq'


count = 0

for c in (check1, check2, check3):
    if c[0] == 'Code':
        count += 1
    if c[1] == 'Mcq':
        count += 10
print(count)

12

In [37]:
def gfg(x, l=[]):
    for i in range(x):
        l.append(i*i)
    print(l)
gfg(2)
gfg(3,[3,2,1])
gfg(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

#  Q10.  set 6

In [38]:
list1 = ["physics","chemistry",1997,2000]
list2 = [1,2,3,4,5,6,7]

print("list1[0]:", list1[0])
print("list1[0]: ",list1[-2])
print("list1[-2]: ", list[1: ])
print("list2[1:5]: ", list2[1:5])

list1[0]: physics
list1[0]:  1997
list1[-2]:  list[slice(1, None, None)]
list2[1:5]:  [2, 3, 4, 5]

In [39]:
list1 = ["physics","chemistry",1997,2000]
print("list[1][1]: ", list1[1][1])
print("list1[1][-1]: ", list1[1][-1])

list[1][1]:  h
list1[1][-1]:  y

In [40]:
list1 = [1998,2002,1997,2000]
list2 = [2014,2016,1996,2009]

print("list1 + list2 = :", list1 + list2)

print("list1 *2 = :", list1 *2)

list1 + list2 = : [1998, 2002, 1997, 2000, 2014, 2016, 1996, 2009]
list1 *2 = : [1998, 2002, 1997, 2000, 1998, 2002, 1997, 2000]

In [41]:
list1 = range(100, 110)
print("index of element 105 is : ", list1.index(105))

index of element 105 is :  5

In [42]:
list1 = [1,2,3,4,5]
list2 = list1

list2[0] = 0;

print("list = :", list1)

list = : [0, 2, 3, 4, 5]

#  Q10.  set 7

In [43]:
[x for x in range(3)]
print(x)

24

In [44]:
data = [2,3,9]
temp = [[x for x in [data]] for x in range(3)]
print(temp)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]]

In [45]:
data = [ x for x in range(5)]
temp = [x for x in range(7) if x in data and x%2==0]
print(temp)

[0, 2, 4]

In [46]:
temp = ['geeks', 'for', 'geeks']
arr = [i[0].upper()for i in temp]
print(arr)

['G', 'F', 'G']

In [47]:
temp = "Geeks 22536 for 445 Geeks"
data = [x for x in (int(x) for x in temp if x.isdigit()) if x%2==0]
print(data)

[2, 2, 6, 4, 4]

In [48]:
data = [x for x in (x for x in "Geeks 22966 for Geeks" if x.isdigit()) if
       (x in ([x for x in range(20)]))]
print(data)

[]

#  Q10.  set 8  list and tuples

In [49]:
L1 = []
L1.append([1,[2,3],4])
L1.extend([7,8,9])

print(L1[0][1][1] + L1[2])

#  explanation in the print(), indexing is used.
# L1[0] = [1,[2,3],4]
# L1[0][1] = [2,3]
# l1[0][1][1]= 3
# and 
# L1[2] = 8

11

In [50]:
L1 = [1, 1.33, 'GFG', 0, 'NO', None, 'G',True] 
val1, val2 = 0, ' '

for x in L1:
    if (type(x) == int or type(x) == float):
        val1 += x
    elif (type(x) == str):
        val2 += x
    else:
        break
        
print(val1, val2)

2.33  GFGNO

In [51]:
L1 = [1,2,3,4]
L2 = L1
L3 = L1.copy()
L4 = L3
L1[0] = [5]
print(L1,L2,L3,L4)

[[5], 2, 3, 4] [[5], 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

In [52]:
# T1 = (1)
# T2 = (3,4)
# T1 += 5
# print(T1)
# print(T1 + T2)

# Output = 6   And Type Error: unsupported operand type(s) for +: 'int' and 'tuple'

#  Q10.  set 9

In [53]:
# L = [2e-04, 'a', False, 87]
# T = (6.22, 'boy', True, 554)

# for i in range(len(L)):
#     if L(i):
#         L[i] = L[i] + T[i]
#     else:
#         T[i] = L[i] + T[i]
#         break
        

#  type Error : 'list' object is not callable

In [54]:
T = (2e-04, True, False, 8, 1.001, True)
val = 0

for x in T:
    val += int(x)
print(val)


#  integer value of 2e-04(0.0002) is 0,
#  True holds a value 1 and False holds 0
# 1.001 = 1
# hence sum of [0,1,0,8,1,1] = 11

11

In [55]:
# L = [3,1,2,4]
# T = ("A","b","c","d")
# L.sort()
# counter = 0

# for x in T:
#     L[counter] += int(x)
#     counter += 1
#     break
# print(L)


# type conversion if char "A" to integer will throw error and value can not be stored in L[0]

# invalid literal for int() with base 10: 'A'

In [56]:
T = (1,2,3,4,5,6,7,8)
print(T[T.index(5)])

# The inbuilt function index() return the index of the element. T.index(5) = and T[4] = 5

5

In [57]:
T = (1,2,3,4,5,6,7,8)
print(T[T[T[6]-3]-6])

# T[6] = 7
# T[6]-3 = 4
# T[T[6]-3] = T[4] = 5
# T[T[6]-3]-6 = 5-6 = -1
# T[T[T[6]-3]-6] = T[-1] = 8

8

In [58]:
def REVERSE(L):
    L.reverse()
    return(L)
def YKNJS(L):
    List = []
    List.extend(REVERSE(L))
    print(List)
    
L = [1, 3.1, 5.31, 7.531]
YKNJS(L)

[7.531, 5.31, 3.1, 1]

In [59]:
from math import sqrt
L1 = [x**2 for x in range(10)].pop()
L1 += 19
print(sqrt(L1), end = " ")
L1 = [x**2 for x in reversed(range(10))].pop()
L1 += 16
print(int(sqrt(L1)))

10.0 4

In [60]:
L = [1,3,5,7,9,12,13]
print(L.pop(-3),end= " ")
print(L.remove(L[0]), end= " ")
print(L.remove(12), end= " ")
print(L)


#  pop(): will delet and return the element whose index was passes as parameter
#  remove: does not return any value

9 None None [3, 5, 7, 13]

# Armstrong number

In [61]:
# write a program in python to check wether an integer is armstrong number or not

# # what is Armstrong Number? : it is number which is equal to the sum of cub of its digit 
# ex. 153 is a number then 1^3 = 3: 5^3=125: 3^3=27 then sum (1+125+27=153) hence 153 is Armstrong number


# num = int(input("enter your number: ")) # 153,663,407 are Armstrong Number
num = 153
sum = 0

temp_num = num
while temp_num > 0:
    digit = temp_num % 10
    sum += digit **3
    temp_num //=10
    
print(i)

if sum == num:
    print("The number is Armstrong")
else:
    print("The number is Not Armstrong")

4
The number is Armstrong

# Prime Number

In [62]:
# write a python peogram to check the given number is prime or not

i, temp=0,0
# n = int(input("Enter Number: "))

n = 7
for i in range(2, n//2):
    if n%i == 0:
        temp=1
        break

if temp == 1:
    print("The given number is not prime number")
else:
    print("The given number is prime number")

The given number is prime number

# Fibonacci series

In [63]:
#  0,1,1,2,3,5,8,13,21 like that

first, second= 0,1
# n = int(input("please Give a number for fibonacci series: "))

n = 10
print("Fibonacci series are: ")

for i in range (0,n):
    if i<1:
        result=1
    else:
        result = first + second;
        first = second;
        second = result;
    print(result)

Fibonacci series are:
1
1
2
3
5
8
13
21
34
55

# Fibonacci series using recursive method

In [64]:
first, second = 0,1

# n= int(input("plsase give number for fibonacci series"))
n = 10

def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num-1)+fibonacci(num-2)
    
print("fibonacci series are: ")
for i in range(0,n):
    print(fibonacci(i))

fibonacci series are:
0
1
1
2
3
5
8
13
21
34

# Palindrome Number

In [65]:
n = 6006         # 11,22,44,666666,88,5885,58085,6006 are palindrome

reverse, temp = 0,n
while temp !=0:
    reverse = reverse*10 + temp%10;
    temp = temp//10;

if reverse == n:
    print("Number is palindrom")
else:
    print("Number is not palindrom")

Number is palindrom

# Check Binary Number

In [66]:
num = 10101010111001102

while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("Number is not Binary")
        break
    num = num//10
    if num==0:
        print("Num is binary")

Number is not Binary

# Count the occurance of given character in a string

In [67]:
# string= input("please enter the string: ") 
string = ("hello my name is pramod and i am data scientist")
char = input("which charactor you want to find: ")
count = 0
for i in range(len(string)):
    if (string[i]==char):
        count= count+1
print("Total number of occurance of",char, "is: ", count)

which charactor you want to find: d
Total number of occurance of d is:  3

# Find duplicate number in an array

In [71]:
arr, occur = [],[];
n = int(input("please enter the size of array: "))
for x in range(n):
    occur.append(0)
for x in range(n):
    element =int(input(f"please enter the element of array element between o to {n-1}: "))
    arr.append(element)
    occur[arr[x]]=occur[arr[x]]+1
for x in range(n):
    if occur[x]>1:
        print(f"{x} is repeated {occur[x]} times")

please enter the size of array: 5
please enter the element of array element between o to 4: 1
please enter the element of array element between o to 4: 0
please enter the element of array element between o to 4: 4
please enter the element of array element between o to 4: 3
please enter the element of array element between o to 4: 1
1 is repeated 2 times